DATABASE_URL=postgresql://user:password@db:5432/habits
DB_HOST=db
AWS_ENDPOINT_URL=http://localstack:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=habits
